body{
  background-color: rgb(20,20,20);
  color: white;
  text-align: center;
}
.card{
  margin: 20px auto;
  padding: 20px 40px;
  background-color: rgba(100,100,100,0.3);
}
.container{}
@media (max-width: 960px){
  .container{
    width: 500px;
  }
}


.center_text{
  text-align: center;
}
.circle{
  border-radius: 50%;
  height: 200px;
}

.letter-spacing-30{
  letter-spacing: 30px;
}
.letter-spacing-15{
  letter-spacing: 15px;
}
.letter-spacing-5{
  letter-spacing: 5px;
}
.transparent-text{
  color: rgba(255,255,255,0.6);
}
.no-list-deco ul{
  list-style: none
}
.list-inline li{
  display: inline-block;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(200,220,255);
}
